<% var item, key %><%
htmlWebpackPlugin.options.scripts = htmlWebpackPlugin.options.scripts || []
%><?php
// No direct access
defined('_JEXEC') or die;

$document = JFactory::getDocument();
<%
for (key in htmlWebpackPlugin.files.css) { %>
$document->addStyleSheet('<%= htmlWebpackPlugin.files.css[key] %>');
<%
} %>
?>
<div><%
if (htmlWebpackPlugin.options.appMountId) { %>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>"></div><%
} %><%

if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
<%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %><%
} %>
    <script>
        window.$token = '<?=JSession::getFormToken();?>';
        window.$locale = '<?=JFactory::getLanguage()->getTag();?>';
        window.$user_data = JSON.parse('<?=json_encode($user_data);?>');
        window.$dfm_data = JSON.parse('<?=$params->extract('dfm')->toString();?>');
    </script><%
for (key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>" type="text/javascript"></script><%
} %>
    <%= htmlWebpackPlugin.tags.bodyTags %>
</div>
